each d in data
  div(class='row')
    div.col-md-12
      h4
        a(href=d.Url, class='link') #{d.Title}
      p=d.Description
      p
        a(href=d.Url, class='link') #{d.DisplayUrl}
      
      