div(id="artist_album_view")

  nav_link = 'music/albums//'+data[0].artist.replace(/\s/g, '-');

  div(class="col-md-12")
    div(class="col-md-5")
      h2(class="birth spaced-text" sub-title, nav-item='#{nav_link}') Albums
  
  for d, i in data

    if typeof d.album_artwork === "undefined"
      image = '/images/record-full-blue.png';

    else
      image = d.album_artwork;

    div(class='group-block music-group-block col-md-2 nopad no-overflow', nav-item='#{nav_link}')
      div(class='col-md-12 dark-back text-middle')
        div.image-container
          img(src='#{image}', title='#{d.artist} - #{d.album}')
      div(class='col-md-12 darker-back pad10 text-middle ellipsis')
        span #{d.album}