div(id="artist_album_view")

  albums_nav_link = 'music/albums//'+encodeURIComponent(data[0].key[0]);

  div(class="col-md-12")
    div(class="col-md-5")
      h2(class="birth spaced-text" sub-title, nav-item='#{albums_nav_link}') Albums
  
  for d, i in data
  
    album_nav_link = 'music/albums/'+encodeURIComponent(d.key[1])+'/'+encodeURIComponent(d.key[0]);

    if d.key[2] === null
      image = '/images/record-full-blue.png';

    else
      image = d.key[2];

    div(class='group-block music-group-block col-md-2 nopad no-overflow', nav-item='#{album_nav_link}')
      div(class='col-md-12 dark-back text-middle')
        div.image-container
          img(src='#{image}', title='#{d.key[0]} - #{d.key[1]}')
      div(class='col-md-12 darker-back pad10 text-middle ellipsis')
        span #{d.key[1]}