each d in data
  div(class='row search-row', link=d.link)
    div(class='span1 mr20')
      img(src=d.img, alt=d.artist+(d.title?' - '+d.title:""))
    div.span10
      h3=d.artist
      p=d.title+' ('+d.duration+')'
      
      